.card {
  background-color: rgb(0, 125, 68);
  border: 1px solid #ccc;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  height: 480px;
  width: 250px;
  text-align: center;
  
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
}

.card-content {
  flex-grow: 1; /* Allow content to grow and take up more space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}
